/* Horizontal sections */
#menu-title {
    width: 100%;
    height: 10%;
    font-size: 2.5em;
    padding-left: 10%;
    
}

#menu-title h1 {
    color: #280904;
}
#menu-list {
	
}

#menu-list .Category1 {
    display: grid;
    grid-template-rows: 1fr, 3fr;    
    grid-template-columns: repeat(auto-fill,minmax(300px,2fr));
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    width: 1500px;
    margin: auto;
    grid-gap: 25px 25px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

#menu-list .category1 h2 {
    grid-area: title;
    font-size: 2em;
}

#menu-list .Category1 .product  {
    display: grid;
    grid-row: 1;
    background-color: #E7BB41;
    border-radius: 25px;
    grid-template-rows: 3fr 1fr 2fr 1fr
    grid-area: product;
    grid-template-areas:
	"item-name"
	"product-image"
	"item-description"
	"price";
    box-shadow: 4px 4px 2px #393E41;
    
}

#menu-list .Category1 .product h3{
    grid-area: item-name;
    text-align: center;
    font-size: 2em;
    margin: auto;
    margin-top: 10%;
}
#menu-list .Category1 .product p{
    grid-area: item-description;
    text-align: center;
    color: #393E41;
    font-size: 1.5em;
}

#menu-list .Category1 .product span{
    grid-area: price;
    text-align: right;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 3em;
    font-weight: bold;
}

#menu-list .Category1 .product > img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    grid-area: product-image;
    margin: auto;
    border-radius: 15px;
}

