/* Horizontal sections */
#menu-title {
    width: 100%;
    height: 250px;
}

#menu-title h1 {
    color: #280904;
}
#menu-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
	"Title"
	"product-image"
	"item-name"
	"item-description"
	"price"
	
}

#menu-list .Category1 {
    display: grid;
}

menu-list .Category1 h2 {
    display: grid;
    grid-area: Title;
}

menu-list .Category1 product h3{
    grid-area: item-name;
}
menu-list .Category1 product p{
    grid-area: item-description;
}

menu-list .Category1 product span{
    grid-area: price;
}

menu-list .Category1 productimg {
    width: 100px;
    height: 200px;
    object-fit: fill;
    display: grid;
    grid-area: product-image;
}

menu-list .product {
    display: inline-grid;
    
}
